*.gem
*.rbc
.bundle
.config
.yardoc
*.swo
*.swp
*.log
spec/integration/apps/rails_app/log
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
.project
hoogfile.yml
.tags*
